services:
  dev-database:
    container_name: dev-database
    build:
      dockerfile: Dockerfile
      context: .
    volumes:
      - dev-database:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    networks:
      dev-network:
        aliases:
          - dev-database
volumes:
  dev-database:
networks:
  dev-network:
    driver: bridge