services:
  test-qdrant:
    container_name: test-qdrant
    image: qdrant/qdrant:v1.14.1
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - test-qdrant-storage:/qdrant/storage
  test-chat-bot:
    container_name: test-chat-bot
    image: ollama/ollama:0.8.0
    ports:
      - "11434:11434"
    environment:
      OLLAMA_HOST: 0.0.0.0
    volumes:
      - test-ollama-models:/models
  test-rabbit-mq:
    container_name: test-rabbit-mq
    image: rabbitmq:4.0.1-management
    ports:
      - "15672:15672"
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: "user"
      RABBITMQ_DEFAULT_PASS: "password"
  test-database:
    container_name: test-database
    build:
      dockerfile: Dockerfile
      context: .
    volumes:
      - test-database:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    networks:
      test-network:
        aliases:
          - test-database
volumes:
  test-database:
  test-ollama-models:
  test-qdrant-storage:
networks:
  test-network:
    driver: bridge