services:
  rabbit-mq:
    container_name: rabbit-mq
    image: rabbitmq:4.0.1-management
    ports:
      - "15672:15672"
      - "5672:5672"
    environment:
      RABBITMQ_DEFAULT_USER: "user"
      RABBITMQ_DEFAULT_PASS: "password"
  dev-database:
    container_name: dev-database
    build:
      dockerfile: Dockerfile
      context: .
    volumes:
      - dev-database:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    networks:
      dev-network:
        aliases:
          - dev-database
volumes:
  dev-database:
networks:
  dev-network:
    driver: bridge