<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="header home">
    <div sec:authorize="isAnonymous()" th:replace="fragments/header-public :: header"></div>

    <div sec:authorize="isAuthenticated()" th:replace="fragments/header-authenticated :: header"></div>
</header>
<main class="home">
    <section class="profile">
        <h2>Perfil</h2>
        <div class="profile__info">
            <img class="profile__image large" th:src="@{/assets/user.png}" alt="Imagem de perfil">
            <div class="column">
                <h2 th:text="${customer.name}"></h2>
                <h2 th:utext="'Email: ' + ${customer.user.email}"><strong></strong></h2>
                <h2 th:text="'CPF: ' + ${T(com.chairpick.ecommerce.utils.format.CpfFormater).format(customer.cpf)}"></h2>
                <h2 th:with="formattedPhone=${T(com.chairpick.ecommerce.utils.format.PhoneFormater).format(customer.phone)}"
                    th:utext="'Telefone: (' + ${customer.phoneDDD} + ') ' + ${formattedPhone}"></h2>
                <h2 th:utext="'Tipo de telefone: ' + ${customer.phoneType.getType()}"></h2>
            </div>
        </div>
        <div class="column border">
            <h2>Ações</h2>
            <a href="customers/edit.html" class="action__button" style="width: 100%;">Editar</a>
            <a href="customers/password/index.html" class="action__button" style="width: 100%;">Alterar senha</a>
            <a href="customers/address/index.html" class="action__button" style="width: 100%;">Endereços</a>
            <a href="customers/credit/index.html" class="action__button" style="width: 100%;">Cartões de crédito</a>
            <button id="delete_account" class="action__button danger">Remover conta</button>
        </div>
    </section>

</main>
<footer class="footer">
    <div class="footer">
        <p>© 2025 Chair Pick</p>
    </div>
</footer>
<dialog id="swap__confirmation">
    <div class="modal__content">
        <h2>Solicitar troca</h2>
        <p>Informe a quantidade de itens a ser trocado</p>
        <input class="input" type="number" id="swap__amount" placeholder="Quantidade de itens a ser trocado" value="1" min="1">
        <div class="modal__actions row">
            <button class="action__button danger" id="cancel__button__swap">Cancelar</button>
            <button class="action__button" style="width: 100%;" id="confirm__button__swap">Confirmar</button>
        </div>
    </div>
</dialog>
<dialog id="confirm__dialog">
    <div class="modal__content">
        <h2></h2>
        <p></p>
        <div class="modal__actions row">
            <button class="action__button" style="width: 100%;" id="cancel__button">Cancelar</button>
            <button class="action__button danger"  id="confirm__button">Confirmar</button>
        </div>
    </div>
</dialog>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="/js/customers/profile/index.js" type="module"></script>
</body>
</html>