<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="header home">
    <div sec:authorize="isAnonymous()" th:replace="fragments/header-public :: header"></div>

    <div sec:authorize="isAuthenticated()" th:replace="fragments/header-authenticated :: header"></div>
</header>
<main class="home">
    <section class="profile">
        <h2>Perfil</h2>
        <div class="profile__info">
            <img class="profile__image large" th:src="@{/assets/user.png}" alt="Imagem de perfil">
            <div class="column">
                <h2 th:text="${customer.name}"></h2>
                <h2 th:utext="'<strong>Email:</strong>' + ${customer.user.email}"><strong></strong></h2>
                <h2 th:text="'CPF: ' + ${T(com.chairpick.ecommerce.utils.format.CpfFormater).format(customer.cpf)}"></h2>
                <h2 th:with="formattedPhone=${T(com.chairpick.ecommerce.utils.format.PhoneFormater).format(customer.phone)}"
                    th:utext="'<strong>Telefone:</strong> (' + ${customer.phoneDDD} + ') ' + ${formattedPhone}"></h2>
                <h2 th:utext="'<strong>Tipo de telefone: </strong>' + ${customer.phoneType.getType()}"></h2>
            </div>
        </div>
        <div class="column border">
            <h2>Ações</h2>
            <a href="customers/edit.html" class="action__button" style="width: 100%;">Editar</a>
            <a href="customers/password/index.html" class="action__button" style="width: 100%;">Alterar senha</a>
            <a href="customers/address/index.html" class="action__button" style="width: 100%;">Endereços</a>
            <a href="customers/credit/index.html" class="action__button" style="width: 100%;">Cartões de crédito</a>
            <button id="delete_account"class="action__button danger">Remover conta</button>
        </div>
    </section>
    <section class="profile">
        <h2>Pedidos em espera</h2>
        <p style="display: none; align-self: center;">Não há pedidos ainda, faça uma compra</p>
        <div class="column">
            <div class="card row without_cursor">
                <div class="row border">
                    <img src="https://a-static.mlcdn.com.br/618x463/cadeira-gamer-otello-preto-e-vermelho/magazineluiza/237019000/b3fc5faf334ec8354d4177f54df4e87a.jpg" alt="Cadeira gamer" class="product_image">
                    <div class="column">
                        <h2>Cadeira gamer</h2>
                        <h2>R$ 600,00</h2>
                        <h2>Quantidade: 1</h2>
                        <h2>Frete: R$ 15,28</h2>
                        <h2>Subtotal: R$ 600,00 </h2>
                        <h2>Total: R$615,28</h2>
                        <h2>Status: <span class="warning">Em processamento</span></h2>
                    </div>
                </div>
                <div class="row border">
                    <img src="https://dcf83otphg8a2.cloudfront.net/Custom/Content/Products/98/88/988852_cadeira-escritorio-presidente-base-cromada-preta-mb-c730-20028_m1_637626398061654943.webp" alt="Cadeira gamer" class="product_image" >
                    <div class="column">
                        <h2>Cadeira gamer</h2>
                        <h2>R$ 400,00</h2>
                        <h2>Quantidade: 1</h2>
                        <h2>Frete: R$ 15,28</h2>
                        <h2>Subtotal: R$ 400,00</h2>
                        <h2>Total: R$ 415,28</h2>
                        <h2>Status: <span class="warning"> Em processamento  </span></h2>
                    </div>
                </div>
                <h2>Subtotal: R$ 1.000,00</h2>
                <h2>Frete: R$ 30,56</h2>
                <h2>Total: R$ 1.030,56</h2>
                <a href="payment.html" class="product_action">Selecionar opções de pagamento</a>
                <button id="cancel_order" class="product_action danger">Cancelar pedido</button>
            </div>
        </div>
    </section>
    <section class="profile">
        <h2>Pedidos em trânsito</h2>
        <p style="display: none; align-self: center;">Não há pedidos ainda, faça uma compra</p>
        <div class="column">
            <div class="card row without_cursor">
                <div class="row border">
                    <img src="https://minipreco.vtexassets.com/arquivos/ids/186643/83087b82-7358-4a8f-a923-d81191e74efd.jpg?v=638289344578430000" alt="Cadeira gamer" class="product_image">
                    <div class="column">
                        <h2>Cadeira de praia</h2>
                        <h2>R$ 200,00</h2>
                        <h2>Quantidade: 1</h2>
                        <h2>Frete: R$ 15,28</h2>
                        <h2>Subtotal: R$ 200,00 </h2>
                        <h2>Total: R$215,28</h2>
                        <h2>Status: <span class="warning">Em trânsito</span></h2>
                    </div>
                </div>
                <h2>Subtotal: R$ 200,00</h2>
                <h2>Frete: R$ 15,28</h2>
                <h2>Total: R$ 215,28</h2>
            </div>
        </div>
    </section>
    <section class="profile">
        <h2>Pedidos entregues </h2>
        <p style="display: none; align-self: center;">Não há pedidos ainda, faça uma compra</p>
        <div id="delivered" class="column">
            <div class="card row without_cursor">
                <input type="hidden" value="1" name="orderId" id="orderId">
                <div class="row border">
                    <img src="https://moveissaara.com.br/wp-content/uploads/2018/09/cadeira-auditorio-saara-001-1.jpg" alt="Cadeira gamer" class="product_image">
                    <div class="column">
                        <input type="hidden" value="1" name="itemId" id="itemId">
                        <h2>Cadeira de escritório</h2>
                        <h2>R$ 200,00</h2>
                        <h2>Quantidade: 1</h2>
                        <h2>Frete: R$ 15,28</h2>
                        <h2>Subtotal: R$ 200,00 </h2>
                        <h2>Total: R$215,28</h2>
                        <h2>Status: <span class="success"><span class="success">Entregue</span></h2>
                        <button id="item1" class="action__button danger">Solicitar troca</button>
                    </div>
                </div>
                <h2>Subtotal: R$ 200,00</h2>
                <h2>Frete: R$ 15,28</h2>
                <h2>Total: R$ 215,28</h2>
            </div>
            <nav class="page">
                <a class="active"> <strong><</strong> </a>
                <a class="active">1</a>
                <a>2</a>
                <a>3</a>
                <a><strong>></strong></a>
            </nav>
    </section>
</main>
<footer class="footer">
    <div class="footer">
        <p>© 2025 Chair Pick</p>
    </div>
</footer>
<dialog id="confirm__dialog">
    <div class="modal__content">
        <h2></h2>
        <p></p>
        <div class="modal__actions row">
            <button class="action__button" style="width: 100%;" id="cancel__button">Cancelar</button>
            <button class="action__button danger"  id="confirm__button">Confirmar</button>
        </div>
    </div>
</dialog>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="/js/customers/profile/index.js" type="module"></script>
</body>
</html>