<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Home</title>

</head>
<body>
<header class="header home">
    <div sec:authorize="isAnonymous()" th:replace="fragments/header-public :: header"></div>

    <div sec:authorize="isAuthenticated()" th:replace="fragments/header-authenticated :: header"></div>
</header>
<main class="home">
    <div class="info_search">
        <p th:if="${param.size() > 0}" th:utext="'<strong>Mostrando resultados para:</strong>'"></p>
        <p th:unless="${param.size() > 0}" th:utext="'<strong>Mostrando todos os resultados:</strong>'"></p>
        <p th:if="${param.name != null}" th:with="name=${param.name}" th:utext="'<strong>Nome: </strong>' + ${name}"></p>
        <p th:if="${param.categories != null}"
           th:with="categories=${param.categories}"
           th:utext="'<strong>Categorias: </strong>' + ${categories}"></p>
        <div><p style="display:inline;" th:if="${param.min_price != null || param.max_price != null}"
           th:utext="'<strong>Preço:</strong>'">
             <p style="display:inline;" th:if="${param.min_price != null}"
                   th:with="min=${T(java.lang.Double).parseDouble(param.min_price)}"
                   th:text="' A partir de ' + ${T(com.chairpick.ecommerce.utils.format.CurrencyFormat).format(min)}">

                <p style="display:inline;"
                   th:if="${param.max_price != null}"
                   th:with="max=${T(java.lang.Double).parseDouble(param.max_price)}"
                   th:text="' Até ' + ${T(com.chairpick.ecommerce.utils.format.CurrencyFormat).format(max)}"></p>
                </p>
            </p>

        </div>
        <div>
            <p style="display:inline;" th:if="${param.min_length != null || param.max_length != null}"
                th:utext="'<strong>Comprimento:</strong>'">
            <p style="display:inline;" th:if="${param.min_length != null}"
               th:with="min=${param.min_length}"
               th:text="' A partir de ' + ${min}">

                <p style="display:inline;"
                   th:if="${param.max_length != null}"
                   th:with="max=${param.max_length}"
                   th:text="' Até ' + ${max}"></p>
                </p>
            </p>

        </div>
        <div><p style="display:inline;" th:if="${param.min_height != null || param.max_height != null}"
                th:utext="'<strong>Altura:</strong>'">
            <p style="display:inline;" th:if="${param.min_height != null}"
               th:with="min=${param.min_height}"
               th:text="' A partir de ' + ${min}">

            <p style="display:inline;"
               th:if="${param.max_height != null}"
               th:with="max=${param.max_height}"
               th:text="' Até ' + ${max}"></p>
            </p>
            </p>

        </div>
        <div><p style="display:inline;" th:if="${param.min_width != null || param.max_width != null}"
                th:utext="'<strong>Largura:</strong>'">
            <p style="display:inline;" th:if="${param.min_width != null}"
               th:with="min=${param.min_width}"
               th:text="' A partir de ' + ${min}">

            <p style="display:inline;"
               th:if="${param.max_width != null}"
               th:with="max=${param.max_width}"
               th:text="' Até ' + ${max}"></p>
            </p>
            </p>

        </div>
        <div><p style="display:inline;" th:if="${param.min_rating != null || param.max_rating != null}"
                th:utext="'<strong>Avaliação:</strong>'">
            <p style="display:inline;" th:if="${param.min_rating != null}"
               th:with="min=${param.min_rating}"
               th:text="' A partir de ' + ${min} + ' estrela(s)'">

            <p style="display:inline;"
               th:if="${param.max_rating != null}"
               th:with="max=${param.max_rating}"
               th:text="' Até ' + ${max} + ' estrela(s)'"></p>
            </p>
            </p>

        </div>
        <p id="results"></p>
    </div>
    <section class="products search">

    </section>
</main>
<div th:replace="fragments/bot-button :: a"></div>
<footer class="footer">
    <div class="footer">
        <p>© 2025 Chair Pick</p>
    </div>
</footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.5/awesomplete.min.css">
<script src="https://cdn.jsdelivr.net/npm/datalist-css/dist/datalist-css.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.11.0/jquery.typeahead.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.11.0/jquery.typeahead.min.css" rel="stylesheet" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="/js/chairs/search/index.js" type="module"></script>
<script type="importmap">
    {
      "imports": {
        "@stomp/stompjs": "https://ga.jspm.io/npm:@stomp/stompjs@7.0.0/esm6/index.js"
      }
    }
</script>
<script th:src="@{/js/utils/stomp.js}" type="module"></script>
</body>