<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>Home</title>

</head>
<body>
<header class="header home">
    <div sec:authorize="isAnonymous()" th:replace="fragments/header-public :: header"></div>

    <div sec:authorize="isAuthenticated()" th:replace="fragments/header-authenticated :: header"></div>
</header>
<main class="home">
    <section class="main_section">
        <aside class="enhanced__search">
            <h2>Pesquisa avançada</h2>
            <form id="main">
                <label for="category">Categorias</label>
                <select class="select2" id="category" name="category" multiple>

                </select>
                <label>Preço</label>
                <div class="min_max_group">
                    <input type="number" id="min_price" name="min_price" placeholder="Mínimo">
                    <input type="number" id="max_price" name="max_price" placeholder="Máximo">
                </div>
                <label>Comprimento</label>
                <div class="min_max_group">
                    <input type="number" id="min_length" name="min_length" placeholder="Mínimo">
                    <input type="number" id="max_length" name="max_length" placeholder="Máximo">
                </div>
                <label>Largura</label>
                <div class="min_max_group">
                    <input type="number" id="min_width" name="min_width" placeholder="Mínimo">
                    <input type="number" id="max_width" name="max_width" placeholder="Máximo">
                </div>
                <label >Altura</label>
                <div class="min_max_group">
                    <input type="number" id="min_height" name="min_height" placeholder="Mínimo">
                    <input type="number" id="max_height" name="max_height" placeholder="Máximo">
                </div>
                <label>Avaliação</label>
                <div class="min_max_group">
                    <div>
                        <p id="range_min_rating">Mínimo: 0</p>
                        <input class="slider" type="range" id="min_rating" name="min_rating" min="0" max="5" step="0.1" value="0" oninput="document.getElementById('range_min_rating').innerHTML = `Mínimo: ${this.value}`">
                    </div>
                    <div>
                        <p id="range_max_rating">Máximo: 5</p>
                        <input class="slider" type="range" id="max_rating" name="max_rating" min="0" max="5" step="0.1" value="5" oninput="document.getElementById('range_max_rating').innerHTML = `Máximo: ${this.value}`">
                    </div>
                </div>
                <div>
                    <button id="search" class="action__button" style="width: 100%;">Buscar</button>
                    <button id="clean" class="action__button danger">Limpar</button>
                </div>
            </form>
        </aside>
        <section class="products">
            <h2>Produtos</h2>
            <div class="products__container">

            </div>
            <div id="products_pagination_container" class="products_pagination_container">

            </div>

        </section>
    </section>
    <hr>
    <div class="all_products_by_category" style="width: 100%;">


    </div>
    <div th:replace="fragments/bot-button :: a"></div>
</main>

<footer class="footer">
    <div class="footer">
        <p>© 2025 Chair Pick</p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="https://unpkg.com/paginationjs@2.1.5/dist/pagination.css">
<script src="https://unpkg.com/paginationjs@2.1.5/dist/pagination.min.js"></script>
<script th:src="@{/js/index/index.js}" type="module"></script>
<script type="importmap">
    {
      "imports": {
        "@stomp/stompjs": "https://ga.jspm.io/npm:@stomp/stompjs@7.0.0/esm6/index.js"
      }
    }
</script>
<script th:src="@{/js/utils/stomp.js}" type="module"></script>
</body>
</html>