<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Trocas</title>
</head>
    <body>
        <input type="hidden" th:value="${orderId}" id="orderId">
        <main>
            <h1 th:text="'Solicitações de troca para o pedido ' + ${orderId}"></h1>

            <a th:href="@{/admin/orders/{orderId}(orderId=${orderId})}" class="action__button" id="back_button">Voltar</a>
            <table>
                <thead>
                <th>
                    Id do item do pedido
                </th>
                <th>
                    Quantidade
                </th>
                <th>
                    Preço unitário
                </th>
                <th>Status</th>
                <th>Ações</th>
                </thead>
                <tr th:each="swapItem : ${swaps}" >
                    <td th:text="${swapItem.orderItem.id}"></td>
                    <td th:text="${swapItem.amount}"></td>
                    <td th:text="${T(com.chairpick.ecommerce.utils.format.CurrencyFormat).format(swapItem.value)}"></td>
                    <td th:text="${swapItem.status.getDescription()}" class="status">
                    </td>
                    <td>
                        <input type="hidden" th:value="${swapItem.id}" class="swapItemId" name="swapItemId">
                        <button th:if="${swapItem.status.name() == 'SWAP_REQUEST'}" class="action__button accept">Aceitar</button>
                        <button th:if="${swapItem.status.name() == 'SWAP_REQUEST'}" class="action__button reject">Recusar</button>
                        <button th:if="${swapItem.status.name() == 'IN_SWAP'}" class="action__button change_to_swapped">Mudar para trocado</button>
                        <p th:if="${swapItem.status.name() == 'SWAPPED' ||
                        swapItem.status.name() == 'SWAP_REPROVED'}" >Sem ações</p>
                    </td>
                </tr>
            </table>
        </main>
        <dialog id="confirm_action">
            <h2>Confirmação</h2>
            <div class="modal__content">
                <p></p>
                <div class="actions">
                    <button id="cancel__button" class="action__button danger fill">Não</button>
                    <button id="confirm__button" class="action__button fill">Sim</button>
                </div>
            </div>
        </dialog>
        <dialog id="confirm__swap__modal">
            <div class="modal__content">
                <h2>Recebimento de item trocado</h2>
                <p>Indique se o produto retorna para o estoque</p>
                <label class="label_check" for="default"> Retornar para o estoque
                    <input type="checkbox" name="default" id="default" value="true">
                    <span class="checkmark"></span>
                </label>
                <div class="modal__actions row">
                    <button class="action__button danger" id="cancel__swap__button">Cancelar</button>
                    <button class="action__button" style="width:100%;" id="confirm__swap__button">Confirmar</button>
                </div>
            </div>
        </dialog>
        <dialog id="error__modal">
            <div class="modal__content">
                <h2>Erro</h2>
                <p id="error__message"></p>
                <div class="modal__actions row">
                    <button class="action__button" style="width: 100%;" id="ok__button">OK</button>
                </div>
            </div>
        </dialog>
    <script src="/js/swaps/index.js" type="module"></script>
    </body>
</html>