<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Não encontrado</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <h1>O recurso não foi encontrado</h1>
        <a class="action__button" style="width:100%;">Voltar para a página anterior</a>
    </main>
    <script>

        document.querySelector('.action__button').addEventListener('click', function() {
            const history = window.history;
            if (history && document.referrer !== '/404') {
                history.back();
            } else {
                window.location.href = '/';
            }
        });
    </script>
</body>
</html>