<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar endereço</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1 th:text="'Adicionar endereço para ' + ${customerName}"></h1>
<main>
    <a class="action__button" th:href="'/customers/' + ${customerId} + '/addresses'">Voltar</a>
    <form id="main">
        <input type="hidden" name="customerId" id="customerId" th:value="${customerId}">
        <section class="cards__section">
            <h3>Endereço</h3>
            <label for="name">Nome do endereço</label>
            <input type="text" name="name" id="name">
            <label for="cep">CEP</label>
            <input type="text" name="cep" id="cep">
            <label for="address">Logradouro</label>
            <input type="text" name="address" id="address">
            <label for="address_type">Tipo de Logradouro</label>
            <select name="address_type" id="address_type">
                <option value="street">Rua</option>
                <option value="avenue">Avenida</option>
                <option value="platter">Travessa</option>
                <option value="lane">Alameda</option>
                <option value="road">Estrada</option>
                <option value="highway">Rodovia</option>
                <option value="square">Praça</option>
                <option value="alley">Viela</option>
                <option value="other">Outro</option>
            </select>
            <label for="neighborhood">Bairro</label>
            <input type="text" name="neighborhood" id="neighborhood">
            <label for="number">Número</label>
            <input type="number" name="number" id="number" min="0">
            <label for="city">Cidade</label>
            <input type="text" name="city" id="city">
            <label for="state">Estado</label>
            <input type="text" name="state" id="state">
            <label for="country">País</label>
            <input type="text" name="country" id="country">
            <label for="observations">Observações</label>
            <input type="text" name="observations" id="observations">
            <label for="default">Configurar como padrão
                <input type="checkbox" name="default" id="default" th:value="true">
                <span class="checkmark"></span>
            </label>

        </section>
        <button class="disabled" type="submit" disabled>Adicionar</button>
    </form>
</main>
<dialog class="error__dialog">
    <h1>Erro ao cadastrar</h1>
    <p></p>
    <button class="action__button dialog__ok">Ok</button>
</dialog>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/inputmask.js" integrity="sha512-ALLDs6ZhqQxaXq3/BFeiYsBtvcu7VLAAybmG3BxcUXgCviCZgdFntIjfHF15c+KPMiGdhEyPhxdY6mTxW3p/lQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    Inputmask({"mask": "99999-999"}).mask(document.getElementById("cep"));
</script>
<script src="/js/addresses/insert/index.js" type="module"></script>
</body>
</html>